$MERCURY: #ebebeb;
$LIGHTHOUSE: #f4f4f4;
$PATERNOSTER: #c7c7c7;
$FACE: #316ff6;
$INSTA: #e1306c;
$WHATSAPP: #25d366;
$CARBON: #333333;
$PINEAPPLE-SALMON: #ff5f5f;
$LYNX-WHITE: #f7f7f7;
$UNICORN-SILVER: #e8e8e8;
$SASQUATCH-SOCKS: #ff4e84;
