<div class="wrapper">
  <div class="container">
    <footer>
      <div class="footer-nav">
        <div class="logo">
          <a routerLink="/"
            ><img src="../../../assets/images/logo/bakingo.svg" alt=""
          /></a>
        </div>

        <div class="nav">
          <ul>
            <li><a routerLink="/about">about us</a></li>
            <li><a routerLink="/contact">contact</a></li>
          </ul>
        </div>

        <div class="icons">
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-whatsapp"></i>
        </div>
      </div>

      <div class="copytight">
        <p>© {{ currentDate() }} Bakingo. All rights reserved.</p>
      </div>
    </footer>
  </div>
</div>
